<h1>schedule#new</h1>

<%= form_with(model:@schedule,local:true) do |f| %>
  <%= f.label :schedule_date,"日付" %>
  <%= f.date_field :schedule_date %>
  <%= f.label :start_time, "開始時刻"%>
  <%= f.time_field :start_time,step:1800 %>
  <%= f.label :stop_time, "終了時刻" %>
  <%= f.time_field :stop_time,step:1800 %>
  <%# 所要時間を計算させるメソッドを記載 %>
  <%= f.label :seminar_id, "セミナー名" %>
  <%= f.collection_select :seminar_id, Seminar.all, :id,:name,include_blank:true %>
  <%= f.label :venue_id, "会場名" %>
  <%= f.collection_select :venue_id, Venue.all, :id,:name,include_blank:true %>
  <%= f.label :reservation,"予約可能数(半角数字)" %>
  <%= f.number_field :reservation %>名
  <%= f.label :participation,"参加人数(半角数字)" %>
  <%= f.number_field :participation %>名
  <%= f.label :memo,"備考" %>
  <%= f.text_area :memo, rows:20,col:40 %>
  <%= f.submit"登録する" %>
<% end %>