<h1>index</h1>

<h2>講座一覧</h2>

<div class ="button_new_seminar">
  <%= link_to "新規講座を登録する", new_seminar_path %>
</div>

<div class="container">
  <% @seminars.each do |seminar| %>
    <div class="container_seminar">
    <%= link_to "#{seminar.name}", seminar_path(seminar.id) %>
    <%= seminar.style %>
    <%= seminar.description %>
    </div>
  <% end %>
  <% @venues.each do |venue| %>
    <div class="container_venue">
    <%= link_to venue.name, venue_path(venue.id) %>
  <% end %>

  <div class ="button_new_seminar">
    <%= link_to "会場を登録する", new_venue_path %>
  </div>

</div>