<!DOCTYPE html>
<html>
  <head>
    <title>Semimane</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>header</header>
  </header>

  <div class="sidebar">
    <%= render'layouts/sidebar'%>
  </div>

  <div class="main-contents">
    <%= yield %>
  </div>  

  <footer>
    <h3>footer</h3>
  </footer>

  </body>
</html>
